<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beta-Chat</title>
    <link rel="stylesheet" href="/Style/style.css">
</head>
<body>
    <header class = 'hidden-class'>
        <h3>Grupo Teste</h3>
        <p id = users></p>
    </header>
    <section id = chat-input-section>
        <h1>Beta-Chat</h1>
        <h3>Qual é seu nome?</h3>
        <input placeholder="Nome" type="text" name="" id="">
        <button>Entrar</button>
    </section>
    <section class = 'hidden-class' id = chat-section>
        <div id = 'msg-area'>
            
        </div>
        <div id = msg-send-area>
            <input id = 'input-msg' placeholder="Digite sua mensagem"></input>
            <button>></button>
        </div>
    </section>
    <script src="/App/socket.io.js"></script>
    <script src = "/App/App.js"></script>
</body>
</html>